* {
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

button {
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
}

html {
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #161D2F;
  z-index: 999;
}
#header .header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
}
#header .header--title h1 {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}
#header .header--nav {
  display: flex;
}
#header .header--nav a {
  margin: 0 20px;
}
#header .header--nav a h1 {
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
}
#header .header--btn button {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 2px solid #3043A9;
  background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
  border-radius: 28px;
  width: 157px;
  height: 53px;
}
#header .header--burger {
  display: none;
}
#header .header--burger #burger:checked ~ .header--burger__block {
  opacity: 1;
}
#header .header--burger #burger:checked ~ .burgerlabel {
  display: none;
}
#header .header--burger .inputcheck {
  display: none;
}
#header .header--burger .burgerlabel {
  position: absolute;
  color: white;
  top: 40px;
  right: 50px;
}
#header .header--burger .icon-burger {
  font-size: 27px;
}
#header .header--burger__block {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.7s;
  opacity: 0;
}
#header .header--burger__block .icon-close {
  font-size: 27px;
}
#header .header--burger__block .burgerclose {
  position: absolute;
  color: white;
  top: 40px;
  right: 50px;
}
#header .header--burger__block--menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header .header--burger__block--menu .header-block1 {
  display: flex;
}
#header .header--burger__block--menu .header-block2 {
  display: flex;
  padding: 20px 0;
}
#header .header--burger__block--menu .header-block3 {
  display: flex;
}

#hero {
  background: #161D2F;
  height: 1200px;
  padding: 100px 0 0;
}
#hero .hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}
#hero .hero--sp span {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}
#hero .hero--title h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
#hero .hero--poragraf {
  padding: 20px 0;
}
#hero .hero--poragraf p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
#hero .hero--btn {
  padding: 0 0 30px;
}
#hero .hero--btn button {
  margin: 0 10px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 2px solid #3043A9;
  background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
  border-radius: 28px;
  width: 157px;
  height: 53px;
}
#hero .hero--video iframe {
  width: 980px;
  height: 700px;
}

#swiper .swiper--h1 {
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  text-align: center;
  padding: 20px 0;
}
#swiper .swiper--h2 {
  width: 590px;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  text-transform: capitalize;
  color: #222222;
  text-align: center;
  padding-left: 380px;
  margin: 10px 0;
}
#swiper .swiper--group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#swiper .swiper--group__title img {
  padding: 20px 0;
}
#swiper .swiper--group__title h1 {
  font-weight: 500;
  font-size: 30px;
  color: #222222;
  padding: 10px 0;
}
#swiper .swiper--group__title h2 {
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
#swiper .swiper--group__title p {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #4B4B4B;
  width: 350px;
  padding: 20px 0;
}
#swiper .swiper--group__title--icon {
  display: flex;
  align-items: center;
}
#swiper .swiper--group__title--icon a {
  font-weight: 400;
  font-size: 14px;
  font-feature-settings: "salt" on, "liga" off;
  color: #3043A9;
  padding: 20px 0;
  margin-left: 80px;
}
#swiper .swiper--group__title--icon__one {
  color: #4a30a9;
  padding: 0 10px;
}

#work .work {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 90px;
}
#work .work--group__one img {
  position: absolute;
  margin-top: 200px;
}
#work .work--group__one--btn {
  position: absolute;
}
#work .work--group__one--btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 60px;
  background: #161D2F;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: 15px;
}
#work .work--group__one--btn button .icon {
  width: 40px;
  height: 40px;
  margin-left: -40px;
}
#work .work--group__two img {
  margin-left: 120px;
}
#work .work--group__two--btn {
  position: absolute;
}
#work .work--group__two--btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 50px;
  background: #262626;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: 380px;
  margin-top: 145px;
}
#work .work--group__two--btn button .icon {
  width: 40px;
  height: 40px;
}
#work .work--about {
  padding-top: 180px;
}
#work .work--about h1 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #222222;
}
#work .work--about h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  text-transform: capitalize;
  color: #161D2F;
  width: 445px;
  padding: 20px 0;
}
#work .work--about p {
  padding: 20px 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-transform: capitalize;
  color: #222222;
  width: 445px;
}
#work .work--about p span {
  color: rgba(0, 0, 0, 0.97);
  font-weight: 400;
}
#work .work--about button {
  width: 150px;
  height: 50px;
  background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
  border-radius: 28px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  transition: 0.5s;
}
#work .work--about button:hover {
  background: blue;
  border: blue;
}

/*# sourceMappingURL=style.css.map */
